/* CSS Document */
body {
background-color: #072826;  
 } 

h1, h2, h3, h4 {
font-family: 'Fjalla One', sans-serif;
	margin-top: 25px;
} 

.headerabout h1 { 
color: #B1D0C8;
text-align: center;
font-size: 60px; 
}

p { 
font-family: 'Roboto', sans-serif;
	}
.tree {
    text-align: right;
	margin-top: 7px}

.navbar{
	background-color:#3faf64!important
}

.navbar .navbar-brand:hover{
	color: #072826; 
}

.navbar .navbar-nav li a{ 
	color: aliceblue
}

.navbar .nav-item .dropdown-menu .dropdown-item{ 
	background-color:#3faf64!important
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover{
	background-color:#3faf64!important
}
.navbar-toggler{
	background-color:#3faf64
}
.wolk {
margin-left: 70px;
}
.col-sm, h1{
	color:#B1D0C8;
}
.footer-copyright{
	color:072826;
background-color:#B1D0C8;
margin-top: 30px	;
}

.page-footer a { 
	color: #3faf64; 
} 
.breadcrumb {
	background: #B1D0C8;
}
li {
	font-family: 'Roboto', sans-serif;
}
/* Style to change separator  */
    .breadcrumb-item + .breadcrumb-item::before {
		content: ">";  
	
