@charset "utf-8";
/* CSS Document */
body {
    background-color: #072826;
}

#part1 {
    background: white;
    text-align: center;
    padding: 0.5em;
    border: 4px solid #000
}

.container {
    padding-bottom: 50px;
}

.lion {
    border: dashed #2B1974;
    padding: 0.5em;
}

.btn {
	background: #EF3B3E; 
}

.btn:hover {
	background: yellow;
}

.btn-primary {
	color: black;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; 
}

.btn-primary:hover {
	color: blue;
}

.navbar
{background-color:#00E44D!important}

.navbar .navbar-brand{
	color:aliceblue
}

.navbar .navbar-brand:hover{
	color: aliceblue
}

.navbar .navbar-nav li a{ 
	color: aliceblue
}

.navbar .nav-item .dropdown-menu .dropdown-item{ 
	background-color:#00E44D!important
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover{
	background-color:#00E44D!important
}
.navbar-toggler{
	background-color:#00E44D
}