@charset "utf-8";
/* CSS Document */
body {
    background-color: #072826;
}
#part1 {
    background: #3faf64;
    text-align: center;
    padding: 0.5em;
    
}
.container {
    padding-bottom: 50px;
}
.lion {
    border: dashed #2B1974;
    padding: 0.5em;
}


.btn {
	background: #EF3B3E; 
}

.btn:hover {
	background: yellow;
}

.btn-primary {
	color: black;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; 
}

.btn-primary:hover {
	color: blue;
}

h1, h2, h3, h4 {
font-family: 'Fjalla One', sans-serif;
} 

p { 
font-family: 'Roboto', sans-serif;
	}

#quote h1 { 
color: #b1d0c8;
text-align: center;
font-size: 75px; 
 }
