@charset "utf-8";

/* CSS Document */
body {
    background-color: #072826;
}

#learn {
    background: #3faf64;
    text-align: center;
    padding: 0.5em; 
	background-size: cover; 
  }

#learn p {
   font-family: 'Roboto', sans-serif;
 font-size: 20px;
	color: #072826;
  }

h1, h2, h3, h4 {
font-family: 'Fjalla One', sans-serif;
} 

.col-sm .quote, h1 { 
color: #b1d0c8;
text-align: center; 
font-size: 65px;
}

.col-sm .quote, p {
	color: #B1D0C8; 
	text-align: center;
	font-size: 25px; 
	font-family: 'Mr Dafoe', cursive; 
}

.col-sm .logo {
align-items: center; 
}

.navbar
{background-color:#3faf64!important}

.navbar .navbar-brand {
	color:aliceblue
}

.navbar .navbar-brand:hover{
	color: #072826; 
}

.navbar .navbar-nav li a{ 
	color: aliceblue
}

.navbar .nav-item .dropdown-menu .dropdown-item{ 
	background-color:#3faf64!important
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover{
	background-color:#3faf64!important
}s
.navbar-toggler{
	background-color:#3faf64
}

.shoptitle { 
background: #3faf64; 
background-size: cover;
padding: 0.10em; 
}

.shoptitle h2 {
 color: #072826; 
 text-align: center;
	padding: 0.10em;
}

.container-shop p {
	color: #B1D0C8;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: left; 
	}

.container-shop {
	padding: 2em;
}

.container-shop .card p { 
color: #072826; 
}

.card-body { 
background-color: #B1D0C8; 
}


.btn { 
background-color:#B1D0C8;
color: #072826; 
font-size: 25px; 
font-family: 'Fjalla One', sans-serif;
 } 

.btn a { 
color: #072826; 
}
.footer-copyright{
	color:072826;
background-color:#B1D0C8;
margin-top: 30px	;
}

.page-footer a { 
	color: #3faf64; 
} 